@model Contest.BL.Dto.PagedListDto<Contest.BL.Dto.ContestDto>

<div class="container">
    <div class="row">
        @foreach (var contest in Model.Items)
        {
            <div class="col-4 mt-4">
                <div class="card" style="height: 27em;">
                    <img src="@contest.CoverPath" class="card-img-top h-50 w-100" style="object-fit: cover">
                    <div class="card-body h-50">
                        <div class="card-title d-flex justify-content-between">
                            <div>
                                <p class="mb-0"><i class="far fa-clock"></i> @contest.EndDateString</p>
                                <p class="mb-0">@contest.PublishDateString</p>
                            </div>
                            <div class="text-right">
                                <p class="mb-0"><i class="far fa-eye"></i> @contest.Views</p>
                                <p class="mb-0 text-primary">Петрозаводск</p>
                            </div>
                        </div>
                        <a href=# class="card-text text-dark text-decoration-none">@contest.Title</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var hasNextPage = @Html.Raw(Json.Serialize(Model.HasNextPage));
</script>
